
.nav > a{
display: inline-block;
color:white;
background-color: grey;
border:1px solid transparent;
border-radius: 20px;
padding:0.8rem 1.6rem;
text-decoration: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}


a:hover {
    background-color: white;
    color:grey;
    cursor: pointer;
    border:1px solid grey;
  }



.testimonial{

    /* same as padding but this is outside the element  */

    margin:10px;
}

