body{
    font-family: Arial, Helvetica, sans-serif;
}

.nav{
    background-color: aquamarine;
}



.hero{
    /* height: 700px;
     background-image: url("hero-bg.jpg"); 
    background-size: cover;
    /* background-size: contain; */
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x;
    background-repeat: repeat-y;  */ 
    background: linear-gradient(to bottom,rgba(255,255,255,0.5), rgba(137,154,79,0.5)), 
    url("hero-bg.jpg");
}